*{
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
}
body{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
body::after {
    content: "";
    background-image: url(Images/WildflowersBackground.png);
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;  
    z-index: 1;
}
section{
    height: 100vh;
    z-index: 2;
}
section img{
    margin-top: 20px;
    height: 200px;
}
section p{
    font-size: larger;
}
footer{
    z-index: 3;
}
